﻿*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: 100%;
}

body{
    font-size:16px;
}

#logoTop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#logoTop img{
    width:30%;
    /*height: 55px;*/
}

#backgroundTop {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#backgroundTop img {
    height: 100%;
    width: 100%;
}

#homeNavBar {
    position: fixed;
    z-index: 1;
    width: 100%;
}

#homeNavBar a img{
    width:30%;
}

.navbar-light .navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(27, 186, 248, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(27, 186, 248, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#navbar-list ul li a{
    transition: color 0.75s ease, font-weight 0.75s ease;
}
#navbar-list ul .nav-item.active a{
    color: #1bbaf8;
}
#navbar-list ul li a:hover{
    color: #1bbaf8;
    font-weight: 600;
}
/*#navbar-list ul li:hover a{*/
/*    color: #1bbaf8;*/
/*    font-weight: 600;*/
/*}*/


/*.nav-link:hover {*/
/*    color: #1bbaf8;*/
/*    font-weight: 600;*/
/*}*/

.background1 {
    background-image: url("../img/Logos/background1.jpg");
    /*min-height: 338px;*/

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.halfWhite1 {
    background-color: white;
    width: 50%;
    /*height: 600px;*/
}

.halfWhite1 img{
    width:25%;
}

 .halfWhite1 h3,h2 {
    padding: 1rem;
    line-height: 3rem;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    color: dimgray;
}

.background1 .halfWhite1 h2{
    /*padding-top: 4rem;*/
    line-height: 40px;
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    color: dimgray;
}
.middleText1 {
    text-align: center;
    /*height: 500px;*/
    padding-bottom: 20px;
    /*background-color: rgba(205, 208, 214, 0.36);*/
}
.middleText1 .terminterTxt{
    float:left;
}

.middleText1 .terminterImg{
    float:left;
}
.middleText1 .terminterImg img{
    margin-bottom: 20px;
    width:50%;
}

.middleText1 img{
    width:50%;
    margin-top:30px;
}
.middleText1 h2{
    padding: 1rem;
    line-height: 3rem;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
}

.background2 {
    background-image: url("../img/Logos/background2.jpg");
    /*min-height: 500px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.halfWhite2 {
    background-color: white;
    width: 50%;
    /*height: 500px;*/
    float: left;

}
.halfWhite2 h3 {
    padding: 1rem;
    line-height: 3rem;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    color: dimgray;
}
.halfWhite2 .deviceImg img{
    margin-bottom: 2rem;
    margin-top: 3rem;
    width:65%;
    /*height:150px;*/
}
.halfWhite3 {
    background-color: transparent;
    width: 50%;
    height: 444px;
    float: left;
}
.middleText2 {
    text-align: center;
    /*height: 500px;*/
    /*background-color: rgba(205, 208, 214, 0.36);*/
}
.middleText2 img{
    width:30%;
    /*height:60px;*/
    margin-top: 15px;
}
.middleText2 h1{
    padding: 25px;
    line-height: 40px;
    font-size: 1.6rem;
    color:dimgray;
    font-family: 'Montserrat', sans-serif;
}
.middleText2 p {
	padding: 25px;
    line-height: 40px;
    font-size: 1.4rem;
    color:dimgray;
    font-family: 'Montserrat', sans-serif;
	
	
}
.middleText2 .dropsImg img{
    width:200px;
    margin-top: 2rem;
    /*height:200px;*/
    margin-right: 25px;

}
.background3 {
    background-image: url("../img/Logos/heruvimiWater.jpg");
    /*min-height: 500px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.middleText3{
    background-color: #1bbaf8;
}
.middleText3 h2{
    color: whitesmoke;
    font-size:1.5rem;
    margin-bottom: 0;
}
.footer{
    padding: 10px;
    color:whitesmoke;
    background-color: #1bbaf8;
    /*height:200px;*/
}
.footer p {
    margin-bottom: 0;
}

.footer-links a {
    margin-left: 1rem;
}

.footer-distributed{
	overflow:hidden;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 40px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 35%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
    margin-bottom: 10px;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 43%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

/*.footer-distributed .footer-center i.fa-envelope{*/
/*    font-size: 17px;*/
/*    line-height: 38px;*/
/*}*/

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #1bbaf8;
    text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*.footer-distributed .footer-icons{*/
/*    margin-top: 25px;*/
/*}*/

/*.footer-distributed .footer-icons a{*/
/*    display: inline-block;*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    cursor: pointer;*/
/*    background-color:  #33383b;*/
/*    border-radius: 2px;*/

/*    font-size: 20px;*/
/*    color: #ffffff;*/
/*    text-align: center;*/
/*    line-height: 35px;*/

/*    margin-right: 3px;*/
/*    margin-bottom: 5px;*/
/*}*/

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

    /*BUTTON TO GO UP*/
#button {
    display: inline-block;
    content: "\f077";
    background-color: #fbbc18;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 60px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}


/*KONTAKT*/

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../img/waterfall1.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-attachment: fixed;
    width:100%;

}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 10rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

.contactPhone{
    text-decoration: none;
    color:white;
}
.contactPhone:hover{
    text-decoration: none;
    color:beige;

}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}
.features-icons .features-icons-item p a{
    text-decoration: none;
    color:black;
}
.features-icons .features-icons-item p:hover a{
    font-weight: bold;
    color:#1bbaf8;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}
.contactIcons{
    color: #1bbaf8;
}
#doubleArrow a {
    color: #1bbaf8;
}

ul.list-inline{
    list-style-type: disc;
}

.list-inline-item a {
    color:white;
}
ul li.list-inline-item:not(:last-child){
    margin-right: 2rem;
}
.list-inline-item:hover a {
    color:dimgray;
    text-decoration: none;
}

.contactFooter{
    padding: 0;
}
.contactFooter .footer-distributed {
    text-align: center;
    padding: 10px 50px;
}



/*O NAMA*/

#imageAboutUs{
    width: 100%;
}
#imageAboutUs img{
    position:relative;
    margin-top: 2rem;
    width: 100%;
}

#aboutUsText p{
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    padding: 2rem;
    text-align: center;
    line-height: 2.7rem
}
#aboutUsText h3{
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    margin: 1rem auto;
    font-family: 'Raleway', sans-serif;
}

#aboutUsIcons .icon1{
    width:20%;
    padding: 5px;
    float:left;
    text-align: center;

}
#aboutUsIcons .icon1 p {
    font-weight: 400;
}

#aboutUsIcons .icon1 img{
 width:85%;
    margin-bottom: 2rem;
}
#aboutUsLogo img{
    width:45%;

}

#aboutUsTxt{
	padding: 25px;
    line-height: 40px;
    font-size: 1.4rem;
    /* color:dimgray; */
    font-family: 'Montserrat', sans-serif;
	text-align:center;
	
}

/*PROIZVODI*/

#imageProducts {
    width: 100%;

}

#imageProducts img{
    position:relative;
    width: 100%;
}

.gallery-block{
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block.cards-gallery .card{
    transition: 0.4s ease;
}

.gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
    text-align: center;
}

.gallery-block.cards-gallery .card-body p {
    font-size: 15px;
}

.gallery-block.cards-gallery a {
    color: #212529;
}

.gallery-block.cards-gallery a:hover {
    text-decoration: none;
}

.gallery-block.cards-gallery .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}

/*OZONIZATORI*/

#imageOzonizatori{
    width:96%;
    margin: 0 2%;
}
#imageOzonizatori img{
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

blockquote.ozonizatoriQuote {
    padding: 2%;
    background-color: rgba(27, 186, 248, 0.8);
    /*width:30rem;*/
    position: absolute;
    top:70%;
    left: 10%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.backgroundOzonizatori1{
    background-image: url("../img/bananas-carrots-cherries.jpg");
    width:100%;
    height: 400px;
    /*min-height: 338px;*/
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.halfWhiteOzonizatori1 {
    background-color: white;
    width: 100%;
    /*height: 600px;*/
}

.halfWhiteOzonizatori1 h3,h2 {
    margin-top: 1rem;
    padding: 2rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: dimgray;
}
.firstRow .halfWhiteOzonizatori1 h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
}

.firstRow .halfWhiteOzonizatori1 div{
    padding:1rem;

}
.firstRow .halfWhiteOzonizatori1 div h3 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.halfWhiteOzonizatori2 {
    background-color: white;

    /*height: 600px;*/  
} 
.backgroundOzonizatori2 {
    float: left;
    /*width: 50%;*/
}

.backgroundOzonizatori2 div {
    padding: 1rem;
}
.backgroundOzonizatori2 h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
}

.halfWhiteOzonizatori2 h3,h2 {
    margin-top: 1rem;
    padding: 4rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: dimgray;
}

.halfWhiteOzonizatori2 .ecomodImg {
    /*float:left;*/
    /*width:60%;*/
    padding-bottom: 5%;
}

.halfWhiteOzonizatori2 .ecomodImg img {
    margin-top: 10%;
    
}

/*CESME*/

#imageCesme{
    width:96%;
    margin: 0 2%;
}
#imageCesme img{
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

blockquote.cesmeQuote {
    padding: 2%;
    background-color: rgba(27, 186, 248, 0.8);
    /*width:30rem;*/
    position: absolute;
    top:80%;
    left: 10%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}


.backgroundCesme1{
    background-image: url("../img/Onda-italiana-farmacqua-piu.jpg");
    width:100%;
    height: 400px;
    /*min-height: 338px;*/
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.halfWhiteCesme1 {
    background-color: white;
    width: 100%;
    /*height: 600px;*/
}

.halfWhiteCesme1 h3,h2 {
    padding: 1rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: dimgray;
}
.firstRow .halfWhiteCesme1 h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
}

.firstRow .halfWhiteCesme1 .cesmeTxt{
    padding:1rem;

}
.firstRow .halfWhiteOzonizatori1 div h3 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.halfWhiteCesme1 .cesmaFarmacqua {
    width: 100%;

}
.halfWhiteCesme1 .cesmaFarmacqua img{
    width: 30%;
}

.halfWhiteCesme2 {
    background-color: white;

    /*height: 600px;*/
}
.backgroundCesme2 {
    float: left;
    /*width: 50%;*/
}

.backgroundCesme2 div {
    padding: 1rem;
}
.backgroundCesme2 h2 {
    margin-top: 1rem;
    font-size: 1.8rem;
}

.backgroundCesme2 .logoFamacquaPlus {
    width:15%;
}
.backgroundCesme2 .cesmaFarmacquaPlus img{
    width:30%;
}

.halfWhiteCesme2 h3,h2 {
    margin-top: 1rem;
    padding: 2rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color: dimgray;
}

.halfWhiteCesme2 .cesmaImg {
    /*float:left;*/
    /*width:60%;*/
    padding-bottom: 5%;
}

.halfWhiteCesme2 .cesmaImg img {
    margin-top: 10%;

}






@media screen and (min-width : 320px) and (max-width : 480px)  {

    #logoTop img{
        display:none;
    }
    #homeNavBar {
        overflow:auto;
    }
    .navbar-brand {
        float:left;
    }
    #homeNavBar a img{
        width:100px;
    }
    .navbar-toggler{
        float:left;
    }
    .background1 .halfWhite1 h2{
        font-size: 1.5rem;
    }
    .halfWhite1{
        width:65%;
    }
    .halfWhite1 h3{
        font-size:1.1rem;
    }
    .middleText1 img{
        width: 60%;
    }
    .terminterTxt h2 {
        font-size: 1.1rem;
        line-height: 40px;
        color: dimgray
    }
    .terminterImg img{
        width:60%;
    }
    .halfWhite3{
        width:35%;
        height:442px;
    }
    .halfWhite2{
        width:65%;
    }
    .halfWhite2 div h3{
        font-size: 1.1rem;
    }
    .deviceImg img{
        margin-top:2rem;
        margin-bottom:1rem;
    }
    .middleText2 .dropsImg img{
        width:50%;
        margin-top:1rem;
        margin-right: 0px;
    }
	div.middleText2 p{
		font-size: 1.1rem;	
	}
    .officeFooter{
        display: block !important;
    }

    /*KONTAKT*/

    main header.masthead {
        padding-bottom: 4rem;
    }
    main header.masthead h1{
        font-size: 1.5rem;
    }
    main header.masthead h3{
        font-size: 1.3rem;
    }
    .list-inline .list-inline-item {
        display: block;
        line-height: 1.8;
    }
    ul.list-inline li.list-inline-item{
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    /*O NAMA*/
    #aboutUsText h3{
        font-size: 1.5rem;
    }
    #aboutUsText p{
        font-size: 1.2rem;
    }
	.row p#aboutUsTxt {
		font-size: 1.1rem;
	}
    .row #aboutUsLogo img{
        width:55%;
    }
    .row #aboutUsIcons .icon1 {
        width: 100%;
    }
    .row #aboutUsIcons .icon1 img {
        width: 50%;
    }

    /*OZONIZATORI*/

    main blockquote.ozonizatoriQuote {
        position:static;
        width:96%;
        margin: 2% 2%;
        padding: 5%;
        text-align: center;
        font-size: 1rem;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

    }
    main .firstRow .halfWhiteOzonizatori1 h2 {
        font-size: 1.3rem;
    }
    main .firstRow .halfWhiteOzonizatori1 div{
        padding-top: 0;
    }
    main .firstRow .halfWhiteOzonizatori1 div h3 {
        padding: 0;

    }
    main .backgroundOzonizatori2 {
        float: none;
        width: 96%;
        margin: 2%;
    }

    .secondRow .backgroundOzonizatori2 div{
        padding-top: 0;
    }
    main .secondRow .backgroundOzonizatori2 h2 {
        font-size: 1.3rem;
    }
    main .halfWhiteOzonizatori2 .ecomodImg{
        width: 100%;
    }

    main .halfWhiteOzonizatori2 .ecomodImg img {
        width:100%;
        padding: 2%;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    }




}

@media screen and (min-width : 480px) and (max-width : 768px){
    #logoTop img {
        width: 25%;
        margin-left: -5px;
    }
    #homeNavBar a{
        width: 30%;
    }
    #homeNavBar a img {
        width: 100%;
    }


    .middleText2 .dropsImg img {
        width: 25%;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .middleText2 .dropsImg img:last-child {
        margin-right: 0;
    }

    .officeFooter {
        display: inline-block !important;
    }
    /*kontakt*/
    main header.masthead {
        padding-top: 5.5rem;
    }
    main header.masthead h1{
        margin-bottom: 0 !important;
    }
    main header.masthead h3{
        font-size: 1.1rem;
    }

    /*O NAMA*/
    #aboutUsText h3{
        font-size: 1.5rem;
    }
    #aboutUsText p{
        font-size: 1.2rem;
    }
    .row #aboutUsLogo img{
        width:55%;
    }
    .row #aboutUsIcons .icon1 {
        width: 20%;
    }
    .row #aboutUsIcons .icon1 img {
        width: 85%;
    }
    .row #aboutUsIcons .icon1 p {
        font-size: 1.1rem;
    }

    .clearfix::after{
        content:"";
        display: table;
        clear:both;
    }




}











